{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors"
  ],
  "rules": {
    "react/prop-types": 0
  }
}
