.menu{
    border:2px solid black;
}

.listItem{
    list-style: none;
    font-style: normal;
  font-size: 14px;
  line-height: 20px;
  /* margin : 5px; */
  letter-spacing: 0.25px;
  width : 150px;
}

.listItem:hover {
    background: #EEEEEE;
}

.menuItem { 
    text-decoration: none;
    /* display:inline-block; */
    padding: 15px;
}